FSR peat depths 10-06-2018.CSV
FSR-pd-20180610.cpg
FSR-pd-20180610.dbf
FSR-pd-20180610.prj
FSR-pd-20180610.shp
FSR-pd-20180610.shx
elev_spade_5m.tif
input.data_spade_5m.rds
parameters_spade.rds
peatdepths-spade-FSR-20180610.cpg
peatdepths-spade-FSR-20180610.dbf
peatdepths-spade-FSR-20180610.prj
peatdepths-spade-FSR-20180610.shp
peatdepths-spade-FSR-20180610.shx
peatdepths-spade-LM-20180412.CSV
peatdepths-spade-LM-20180412.cpg
peatdepths-spade-LM-20180412.dbf
peatdepths-spade-LM-20180412.prj
peatdepths-spade-LM-20180412.shp
peatdepths-spade-LM-20180412.shx
peatdepths-spade-PL-20180610.cpg
peatdepths-spade-PL-20180610.cpg.csv
peatdepths-spade-PL-20180610.dbf
peatdepths-spade-PL-20180610.prj
peatdepths-spade-PL-20180610.shp
peatdepths-spade-PL-20180610.shx
site_bound.rds
site_box.cpg
site_box.dbf
site_box.prj
site_box.shp
site_box.shx
slope_spade_5m.tif
terr_spade_12.tif
